[run]
branch = True

[html]
directory = cov_html

[paths]
source =
    src/
    .tox/py*/lib/python*/site-packages/
    .tox/pypy*/site-packages

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
