.cache
.coverage
.coverage.*
.idea
.mypy_cache/
.pytest_cache/
.python-version
.tox
.eggs
cov_html
*.pyc
*.egg-info
*.so
*.cpp
/src/**/*.html
/build/
/wheelhouse
/dist/
/docs/_build/
/.ipynb_checkpoints/
**.hypothesis/
cython_debug/
pip-wheel-metadata
